@font-face {
    font-family: 'Tusker Grotesk';
    src: url(/fonts/tusker-grotesk-font/TuskerGrotesk-3700Bold.ttf);
    font-style: normal;
    font-weight: 800;
}

@font-face {
    font-family: 'Tusker Grotesk';
    src: url(/Fonts/tusker-grotesk-font/TuskerGrotesk-2700Bold.ttf);
    font-style: normal;
    font-weight: 600;
}

@font-face {
    font-family: 'Tusker Grotesk';
    src: url(/Fonts/tusker-grotesk-font/TuskerGrotesk-1600Semibold.ttf);
    font-weight: 400;
}

@font-face {
    font-family: 'Neue Montreal';
    src: url(/Fonts/tusker-grotesk-font/OTF/PPNeueMontreal-Thin.otf);
    font-style: normal;
    font-weight: 100;
}

@font-face {
    font-family: 'Neue Montreal';
    src: url(/Fonts/tusker-grotesk-font/OTF/PPNeueMontreal-Book.otf);
    font-style: normal;
    font-weight: 300;
}

@font-face {
    font-family:'Neue Montreal' ;
    src: url(Fonts/tusker-grotesk-font/OTF/PPNeueMontreal-Bold.otf);
    font-style: normal;
    font-weight: 600;

}

@font-face {
    font-family: 'Neue Montreal';
    src: url(/Fonts/tusker-grotesk-font/OTF/PPNeueMontreal-Medium.otf);
    font-weight: 400;
    font-style: normal;
}

:root{
    --main-font: 'Neue Montreal';
    --main-text-weight: 300;
    --main-title-weight: 400;
    --text-font-size: 30px;
    --button-size: 34px;
    --h3-font-size: 80px;
    --h2-font-size: 103px;


}

.emojis{
font-size: 30px;
color:#F2C7BD;
margin-right: 10px;
}
/*Hero Styling */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: white;
    
}

.h1{
    font-family: 'Tusker Grotesk';
    font-weight: 600;
    font-size: 219px;
    line-height: 1.1;
    margin:0;
    padding: 0;
}

#sign{
font-size: 50px;
color: #F2BDDA;
}

.main-text p{
    font-family: 'Neue Montreal';
    font-weight: 400;
    font-style: normal;
    font-size: var(--text-font-size);
}

.hero-container{
    height: 100vh;
    width: 100%;
    margin-bottom: 100px;

}

body{
    background: linear-gradient(rgba(65,143,191,0.222), rgba(65,143,191,0.322)), url("/images/sky-hero.jpg") no-repeat center / cover ;
    background-attachment: fixed;
    overflow-x: hidden;
    overflow-y: scroll;
}
 .h1, .text-main{
    animation: reveal 1.5s cubic-bezier(0.77, 0, 0.175, 1) 0.5s;
 }

 @keyframes reveal {
    0% {
      transform: translate(0,100%);
    }
    100% {
      transform: translate(0,0);
    }
  }

.row.hero{
    padding: 0px 20px;
    max-width: 100%;
    margin: 0;
    height: 100vh;
    display: flex;
    align-items: flex-end;
   
}

.col-lg-6.right{
    display: flex;
    justify-content: flex-end;
    padding-bottom: 20px;
}
.main-text{
text-align: start;
max-width: 600px;
font-size: var(--text-font-size);
   margin: 0;
   padding: 0;
   line-height: 1.1;
}
.right{
    text-align: end;
}

.buttons{
    border: 4px solid white;
    border-radius: 40px;
    padding: 2px 18px;
    font-size: var(--button-size);
    line-height: 1.2;
    text-decoration: none;
    color: white;
    font-family: var(--main-font);
    font-weight: 400;
    background-color: transparent;
    display:inline-block;
    margin-bottom: 15px;

    transition: all 200ms ease-in-out;
}

#main-button{
    float: right;
    font-size: var(--button-size);
    
}

.buttons:hover{
    border: none;
    background-color: #F2BDDA;
    border: 4px solid #F2BDDA;
    color: #3B6D8C;
}

.nav-color{
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(8px);
}
nav{
    border-bottom: 1px solid white;
}

li.nav-item{
    font-family: 'Neue Montreal';
    font-size: 25px;
    font-weight: 300;

}

.navbar-nav {
    text-align: right;;
}

#logo{
    position: relative;
    float: left;
}

.left{
    float: left;
    
}
/*About Section*/

.about-container{
    background: linear-gradient(rgba(228,187,206, 0), rgba(228,187,206, 100%), rgba(228,187,206, 100%));
    padding-bottom: 80px;
    padding-top: 80px;
}

.row.about{
    max-width: 70%;
    margin: 0 auto;
}

.row.about h2{
    font-family: 'Tusker Grotesk';
    font-size: var(--h2-font-size);
    font-weight: 600;
}

p, li{
    font-family: var(--main-font);
    font-size: var(--text-font-size);
    font-weight: var(--main-text-weight);
}

.portrait-container{
    display: flex;
    flex-direction: row;
    justify-content: end;
}

.works-container{
    background: linear-gradient(rgba(228,187,206, 100%), rgba(228,187,206, 100%), rgba(228,187,206, 100%), rgba(228,187,206, 100%), rgba(228,187,206, 0) );
    padding-top: 20px;
    padding-bottom: 200px;

}

.emojis{
    color: #A2DCF2;
}

.row.works{
    max-width: 80%;
    margin: 0 auto;
    margin-top: 5%;
}


h3{
    font-family: 'Tusker Grotesk';
    font-size: var(--h3-font-size);
    font-weight: 600;
    letter-spacing: 2px;

}

/*CONTACT SECTION*/

.contact-container{
    
    padding-top: 30px;
    width: 100%;
    display: flex;
    align-items: flex-end;
}

.row.contact{
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    align-items: flex-end;
}
.big-text{ 

font-family: 'Tusker Grotesk';
font-weight: 600;
font-size: 280px;
margin: 0;
padding: 0;
line-height: 1.1;

}


.works-text{
    display:flex;
    flex-direction: column;
    justify-content:center;
    
}

.contact-block{
    margin-top: 200px;

}

.secondary-text{
font-family: var(--main-font);
    font-size: var(--text-font-size);
    font-weight: 400; }

.socials{
    font-family: var(--main-font);
    font-size: 20px;
    font-weight: 400;
    list-style: none;
    padding-right: 20px;
    

}

.socials-ul{
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content:right ;
}

.socials-button{
    color: white;
    text-decoration: none;
    padding-left: 5px;
}

.socials-button:hover{
    text-decoration-line: line-through;
}

#contact-button{
    background-color: white;
    color:#3B6D8C;
    font-size: var(--button-size);
    
}
#contact-button:hover{
    background-color: #A2DCF2;
    color: #3B6D8C;
    border: 3px solid #A2DCF2;
    border: 4px solid #A2DCF2;
}
.socials-container{
    margin-bottom: 20px;
    border-top: 2px solid white;padding-top: 20px;
}


.margin2{
    margin-left: 100px;
}

.margin3{
    margin-left: 5px;
}

.margin1, .margin2, .margin3{
border: 1.5px solid white;
padding: 4px 18px;
}

.margin3:hover{
    border: 1.5px solid #F2BDDA;
    background-color: #F2BDDA;
    }

.margin2:hover{
        border: 1.5px solid #F2BDDA;
        background-color: #F2BDDA;
        }

.margin1:hover{
            border: 1.5px solid #F2BDDA;
            background-color: #F2BDDA;
            }

.shrink img {
    transition: 1s ease;
    box-shadow: 15px 15px 10px rgba(128, 128, 128, 0.4);
    }
    
.shrink img:hover{
    -webkit-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8);
    transition: 1s ease;
    }

#ending-text{
    display: block;
    text-align: center;
}

#ending-link{
    color: white;
    
}

@media (min-width: 0px) and (max-width:575px){
    .h1{
        font-size: 130px;
        text-align: left;
        margin-bottom: 20px;
    }
    .big-text{
        font-size: 120px;
    }

    .row.hero{
        margin-top: -40px;
    }
    #main-button{
        font-size: 20px;
    }
    .main-text{  
        text-align: right;
        margin-top: -200px;

    }

    .about-container{
        padding-top: 10px;
    }

    .main-text p{
    
        font-size: 18px;
    }



    .buttons{
        font-size: 15px;
    }

.row.about{
    max-width: 85%;
}

.row.about h2{
    font-size: 70px;
}


p, li{
    font-size: 18px;
}

.portrait{
    width: 200px;
}

.portrait-container{
    display: flex;

    padding-top: 20px;
    justify-content: center;
}

h3{
    text-align: center;
}

.contact-container{ 
padding-top: 10px;
padding-bottom: 0;}

#contact-section {
    position: relative;
    
}

.margin1, .margin2, .margin3{
    margin-left: 0px;
    font-size: 20px;
}

.secondary-text{
    font-size: 18px;
}

.contact-block{
    margin-top: 100px;
}

.socials-container{
    margin-top: 20px;
}

.socials-button{
    font-size: 13px;;
}

#contact-button{
    margin-left: 0px;
    font-size: 20px;
}


.nav-link{
    font-size: 20px;
}

.p-description{
    display: none;
}
 h3{
    display: none;
 }
 #ending-text{
    font-size: 12px;
}

}


@media (min-width: 576px) and (max-width: 811px){

.h1{
    font-size: 150px;

}

.row.hero{
    padding-top: 100px
}
.row.hero p{
    margin-bottom: 0;
}
.main-text p{
    font-size: 28px;
    max-width: 725px;
    
}


.p-description{
    display: none;
}

.portrait{
    width: 300px;
}

.portrait-container{
    display: flex;

    padding-top: 20px;
    justify-content: center;
}

.row.about p, li{
    font-size: 22px;
}

.row.about h2{
    font-size: 90px;
}

.row.about{
    max-width: 90%;
}

h3{
    font-size: 70px;
}

.big-text{
    font-size: 150px;
    position: aboslute;
    bottom: 0;

}

.secondary-text{
    font-size: 28px;
}

.buttons{
    font-size: 30px;
}
#contact-button{
    font-size: 30px;
}

.margin1, .margin2, .margin3{
    margin-left: 0px;}

.contact-block{
    margin-top: 70px;
}
}

@media (min-width: 812px) and (max-width: 992px){
    .h1{
        font-size: 170px;
        
    }

    .big-text{
        font-size: 170px;
    }

    .main-text{
        max-width: 775px;
    }

    .main-text p{
        font-size: 29px;
    }
    .row.hero{
        padding-top: 100px
    }
    .row.about{
        max-width: 90%;
    }
    .row.about p, li{
        font-size: 25px;
    }
    .portrait{
        width: 300px;
    }
    .portrait-container{
        display: flex;
        padding-top: 20px;
        justify-content: center;
    }
    .row.works p{
        font-size: 22px;
    }
    .secondary-text{
        font-size: 29px;
    }
    
    .contact-block{
        margin-top: 90px;
    }
}

@media (min-width: 993px) and (max-width: 1200px){
    .big-text{
        display: block;
        font-size: 213px;
    }
    .row.about{
        max-width: 80%;
    }
    .row.works p{
        font-size: 29px;
    }
    .portrait-container{
        display: flex;
        padding-top: 20px;
        justify-content: center;
    }
}

@media (min-width: 1201px) and (max-width: 1360px){
    .big-text{
        font-size: 238px;
    }

}

@media (min-width: 1360px) and (max-width: 3000px){
    .big-text{
        font-size: 300px;
    }

    .h1{
        font-size: 260px;
    }
}
