@font-face {
    font-family: 'Tusker Grotesk';
    src: url(/fonts/tusker-grotesk-font/TuskerGrotesk-3700Bold.ttf);
    font-style: normal;
    font-weight: 800;
}

@font-face {
    font-family: 'Tusker Grotesk';
    src: url(/Fonts/tusker-grotesk-font/TuskerGrotesk-2700Bold.ttf);
    font-style: normal;
    font-weight: 600;
}

@font-face {
    font-family: 'Tusker Grotesk';
    src: url(/Fonts/tusker-grotesk-font/TuskerGrotesk-1600Semibold.ttf);
    font-weight: 400;
}

@font-face {
    font-family: 'Neue Montreal';
    src: url(/Fonts/tusker-grotesk-font/OTF/PPNeueMontreal-Thin.otf);
    font-style: normal;
    font-weight: 100;
}

@font-face {
    font-family: 'Neue Montreal';
    src: url(/Fonts/tusker-grotesk-font/OTF/PPNeueMontreal-Book.otf);
    font-style: normal;
    font-weight: 300;
}

@font-face {
    font-family:'Neue Montreal' ;
    src: url(Fonts/tusker-grotesk-font/OTF/PPNeueMontreal-Bold.otf);
    font-style: normal;
    font-weight: 600;

}

@font-face {
    font-family: 'Neue Montreal';
    src: url(/Fonts/tusker-grotesk-font/OTF/PPNeueMontreal-Medium.otf);
    font-weight: 400;
    font-style: normal;
}

:root{
    --main-font: 'Neue Montreal';
    --main-text-weight: 100;
    --main-text-size: 100px;
    --main-title-weight: 400;

}

.emojis{
font-size: 30px;
color:#F2C7BD;
margin-right: 10px;
}
/*Hero Styling */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: white;
    
}

h1{
    font-family: 'Tusker Grotesk';
    font-weight: 600;
    font-size: 200px;
    line-height: 1;
    margin:0;
    padding: 0;
}

.main-text p{
    font-family: 'Neue Montreal';
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
}

.hero-container{
    height: 140vh;
    width: 100%;

}

body{
    background: linear-gradient(rgba(65,143,191,0.222), rgba(65,143,191,0.322)), url("/images/sky-hero.jpg") no-repeat center / cover ;
    background-attachment: fixed;
    overflow-x: hidden;
    overflow-y: scroll;
}

.row.hero{
    padding: 10px 20px;
    max-width: 100%;
    margin: 0;
    height: 100vh;
    display: flex;
    align-items: flex-end;
   
}

.col-sm-6.right{
    display: flex;
    justify-content: flex-end;
}
.main-text{
text-align: start;
max-width: 600px;
font-size: 30px;
   margin: 0;
   padding: 0;
   line-height: 1.1;
}
.right{
    text-align: end;
}

button{
    border: 4px solid white;
    border-radius: 40px;
    padding: 5px 18px;
    font-size: 34px;
    line-height: 37px;
    font-family: var(--main-font);
    font-weight: 400;
    background-color: transparent;
    margin-bottom: 15px;
    transition: all 200ms ease-in-out;
}

#main-button{
    float: right;
}

button:hover{
    border: none;
    background-color: #F2BDDA;
    border: 2px solid #F2BDDA;
    color: #3B6D8C;
}

.nav-color{
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(8px);
}
nav{
    border-bottom: 1px solid white;
}

li.nav-item{
    font-family: 'Neue Montreal';
    font-size: 25px;
    font-weight: 300;
}

#logo{
    position: relative;
    float: left;
}

.left{
    float: left;
}
/*About Section*/

.about-container{
    background: linear-gradient(rgba(59,109,140, 100%), rgba(59,109,140, 100%) );
    
    background-attachment: fixed;
    padding-bottom: 80px;
}

.row.about{
    max-width: 70%;
    margin: 0 auto;
}

.row.about h2{
    font-family: 'Tusker Grotesk';
    font-size: 103px;
    font-weight: 600;
}

p, li{
    font-family: var(--main-font);
    font-size: 28px;
    font-weight: var(--main-text-weight);
}

.portrait-container{
    display: flex;
    flex-direction: row;
    justify-content: end;
}

.works-container{
    background: linear-gradient(rgba(59,109,140, 100%), rgba(59,109,140, 100%) );
    padding-top: 150px;
    background-attachment: fixed;
    padding-bottom: 150px;

}

.row.works{
    max-width: 80%;
    margin: 0 auto;
    margin-top: 5%;

}

h2{
    font-family: var(--main-font);
    font-size: 30px;
    font-weight: 400;

}

h3{
    font-family: 'Tusker Grotesk';
    font-size: 80px;
    font-weight: 600;
    letter-spacing: 2px;

}

/*CONTACT SECTION*/

.contact-container{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: flex-end;
}

.row.contact{
    max-width: 85%;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    align-items: flex-end;
}
.big-text{ 

font-family: 'Tusker Grotesk';
font-weight: 600;
font-size: 250px;
margin: 0;
padding: 0;
line-height: 1.1;

}

.works-text{
    display:flex;
    flex-direction: column;
    justify-content:center;
    
}

.contact-block{
    margin-top: 100px;

}

.secondary-text{
font-family: var(--main-font);
    font-size: 30px;
    font-weight: 400; }

.socials{
    font-family: var(--main-font);
    font-size: 20px;
    font-weight: 400;
    list-style: none;
    margin-right: 20px;

}

.socials-ul{
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content:left ;
}

